<div class="container my-5">
  <h1 class="text-center py-3">Consultar Valores</h1>
  <form>
    <div class="form-group">
      <label for="campoOrigem" class="sr-only">Origem</label>
      <input
        type="text"
        name=""
        class="form-control"
        type=""
        id="campoOrigem"
        placeholder="Origem"
      />
    </div>
    <div class="form-group">
      <label for="campoDestino" class="sr-only">Destino</label>
      <input
        type="text"
        name=""
        class="form-control"
        type=""
        id="campoDestino"
        placeholder="Destino"
      />
    </div>
    <div class="form-group">
      <label for="campoDataIda" class="sr-only">Data de partida</label>
      <input
        type="text"
        name=""
        class="form-control"
        type=""
        id="campoDataIda"
        placeholder="Data de partida"
      />
    </div>
    <div class="form-group">
      <label for="campoDataVolta" class="sr-only">Data de volta</label>
      <input
        type="text"
        name=""
        class="form-control"
        type=""
        id="campoDataVolta"
        placeholder="Data de volta"
      />
    </div>
    <input
      type="submit"
      value="Consultar"
      class="btn btn-info"
    />
  </form>
</div>
